<app-header></app-header>

<div class="album">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="media">
          <table>
            <tr>
              <td>
                <img class="panel panel-default " src="../../assets/images/AV_Singh.png" alt="profile">
              </td>
              <td>
                <h4>Name :Aavtar Singh Gill</h4>
                <h4>Location:BTM Layout</h4>
              </td>
              <tr>
          </table>
          <div class="media-body">
            <h5>Cuisine:<span class="label label-default">Chinese, North Indian, Punjabi</span></h5>
            <h5>Speciality:<span class="label label-success">North Indian</span></h5><br>
            <p><a href="#" class="btn btn-primary" role="button">Interested</a> <a href="#" class="btn btn-default" role="button">Check Availability</a></p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
          <div class="media">
            <table>
              <tr>
                <td>
                  <img class="panel panel-default " src="../../assets/images/AV_Singh.png" alt="profile">
                </td>
                <td>
                  <h4>Name :Aavtar Singh Gill</h4>
                  <h4>Location:BTM Layout</h4>
                </td>
                <tr>
            </table>
            <div class="media-body">
              <h5>Cuisine:<span class="label label-default">Chinese, North Indian, Punjabi</span></h5>
              <h5>Speciality:<span class="label label-success">North Indian</span></h5><br>
              <p><a href="#" class="btn btn-primary" role="button">Interested</a> <a href="#" class="btn btn-default" role="button">Check Availability</a></p>
            </div>
          </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-3">
          <div class="media">
            <table>
              <tr>
                <td>
                  <img class="panel panel-default " src="../../assets/images/AV_Singh.png" alt="profile">
                </td>
                <td>
                  <h4>Name :Aavtar Singh Gill</h4>
                  <h4>Location:BTM Layout</h4>
                </td>
                <tr>
            </table>
            <div class="media-body">
              <h5>Cuisine:<span class="label label-default">Chinese, North Indian, Punjabi</span></h5>
              <h5>Speciality:<span class="label label-success">North Indian</span></h5><br>
              <p><a href="#" class="btn btn-primary" role="button">Interested</a> <a href="#" class="btn btn-default" role="button">Check Availability</a></p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="media">
              <table>
                <tr>
                  <td>
                    <img class="panel panel-default " src="../../assets/images/AV_Singh.png" alt="profile">
                  </td>
                  <td>
                    <h4>Name :Aavtar Singh Gill</h4>
                    <h4>Location:BTM Layout</h4>
                  </td>
                  <tr>
              </table>
              <div class="media-body">
                <h5>Cuisine:<span class="label label-default">Chinese, North Indian, Punjabi</span></h5>
                <h5>Speciality:<span class="label label-success">North Indian</span></h5><br>
                <p><a href="#" class="btn btn-primary" role="button">Interested</a> <a href="#" class="btn btn-default" role="button">Check Availability</a></p>
              </div>
            </div>
          </div>
      </div>
  </div>
</div>
<app-footer></app-footer>